@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --color-gold-champagne: #d6a564;
  --color-black-jet: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--color-gold-champagne);
  --color-jet: var(--color-black-jet);
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --animate-shimmer: shimmer 2s linear infinite;

  @keyframes shimmer {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -200% 0;
    }
  }
}

body {
  background: radial-gradient(ellipse at center, var(--tw-gradient-stops)) from 0% to 100%;
  --tw-gradient-from: #022c22 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #022c22cc, var(--tw-gradient-to);
  background-color: #000000;
  /* Fallback */
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}